.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  min-height: 100%;
  margin-bottom: 12rem;
}

.content:after {
  content: "";
  display: block;
}

.empty-recommendations {
  margin-top: 12.9rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  margin-bottom: 6rem;
  margin-top: 2rem;
  display: block;
}

.bg-purple {
  background-color: #673ab7;
}
